<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sonoma.teatimeremake" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tea Time"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CalendarActivity"
            android:label="Tea Time"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".NewEventActivity" >
        </activity>
        <activity
            android:name=".DayViewActivity"
            android:label="@string/title_activity_day_view"
            android:parentActivityName=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".TeaTimeMain"
            android:label="@string/title_activity_tea_time_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GroupCalendarActivity"
            android:label="@string/title_activity_group_calendar"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GroupDayActivity"
            android:label="@string/title_activity_group_day"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".GroupCalendarSelectionActivity" >
        </activity>
        <activity android:name=".GroupCalSelect" >
        </activity>
        <activity android:name=".NewCalendarActivity" >
        </activity>
        <activity android:name=".InvitingOtherPeopleActivity" >
        </activity>
    </application>

</manifest>
